<div class="container col-lg-6">
  <h1 class="text-center">Login</h1>
  <div class="card">
    <div class="card-body">
      <form *ngIf="loggedIn===false" class="form-group" [formGroup]="loginForm" (ngSubmit)="signIn(loginForm)">
        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
        <div class="form-group">
          <label for="username">User Name :</label>
          <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter User Name"
                 name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" formControlName="password" id="password" placeholder="Enter password"
                 name="password" required>
        </div>
        <div class="form-row">
          <button type="submit" class="btn btn-success btn-lg offset-3">Login</button>
          <button type="button" (click)="signInWithGoogle()" class="btn btn-primary">Sign In With Google</button>
        </div>
      </form>
<!--      start social login-->
      <div *ngIf="loggedIn===true || gLoggedIn===true" class="alert alert-success">Signed in! Redirecting to booking page...</div>
      <div *ngIf="loggedIn===true && gLoggedIn===true">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" id="firstname" [value]="gUser.firstName" readonly >
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" id="lastname" [value]="gUser.lastName" readonly >
        </div>
        <div class="form-group">
          <label for="email2">Email</label>
          <input type="text" class="form-control" id="email2" [value]="gUser.email" readonly >
        </div>
        <button type="button" (click)="gSignOut()" class="btn btn-primary">Sign Out</button>
      </div>
<!--      end social login-->
    </div>
  </div>
</div>
