.row{
  font: 200 1em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row.rooms-available{
  justify-content: center;
}

h1 {
  color: #ca500f;
  text-shadow: black;
  text-align: center;
}

div.h2 {
  color: darkred;
  font-weight: bold;
}

#checkin.form-control.pattern-invalid:after{
  background-color:coral;
  content:'Invalid date';
}

#checkin.form-control.required:after{
  background-color:coral;
  content:'Required';
}

#checkout.form-control.pattern-invalid:after{
  background-color:coral;
  content:'Invalid date';
}

#checkout.form-control.required:after{
  background-color:coral;
  content:'Required';
}



